extends ../templates/default

block content
    .ui.container.segment.justified
        h2.ui.header.dividing Modificar Noticia

        div(class='form-nuevanoticia')
            form(class=['ui','form'] action='/modificado/noticia' method='post')
                .field
                    label Titulo De La Noticia
                    input(type='text', name='titulo', placeholder='Escriba el Título', value=noticia[0].Titulo)
                .field
                    label Cuerpo de la noticia
                    textarea(style='margin-top: 0px; margin-bottom: 0px; height: 200px;', name='cuerpo')
                        | #{noticia[0].Cuerpo}
                    input(type='hidden', name='id_noticia', value=noticia[0].ID_Noticia)

                button.ui.button(type='submit') Actualizar Noticia
                div(class=['ui','message','error'])