section#menu-container
    ul.menu.dropdown.align-spaced(data-dropdown-menu='')
        li
            a(href='/')
                i.fi-home
                | Inicio
        li
            a(href='#')
                i.fi-clipboard
                | Pendientes
        li
            a(href='#')
                i.fi-book
                | Noticias
        li
            a(href='#')
                i.fi-list
                | Departamentos
            ul#submenu-container.menu
                li
                    a(href='/control-patrimonial') Control Patrimonial
                li
                    a(href='/servicios-administrativos') Servicios Administrativos
                li
                    a(href='/infraestructura') Infraestructura
                li
                    a(href='/pagos') Pagos
                li
                    a(href='/soporte') Servicio de Mantenimiento de Cómputo y Electrónica
        li
            a(href='/contacto')
                i.fi-info
                | contacto
        li
            a(href='/auth/signin')
                i.fi-torso
                | Login