section#menu-container
    ul.menu.dropdown.align-spaced(data-dropdown-menu='')
        li
            a(href='/')
                i.fi-home
                | Inicio
        li
            a(href='#')
                i.fi-clipboard
                | Pendientes
        li
            a(href='#')
                i.fi-book
                | Noticias
        li
            a(href='#')
                i.fi-list
                | Departamentos
            ul#submenu-container.menu
                li
                    a(href='#') Control Patrimonial
                li
                    a(href='#') Servicios Administrativos
                li
                    a(href='#') Infraestructura
                li
                    a(href='#') Pagos
                li
                    a(href='#') Servicio de Mantenimiento de Cómputo y Electrónica
        li
            a(href='contacto.html')
                i.fi-info
                | Ubicacion
        li
            a(href='/auth/signin')
                i.fi-torso
                | Login