section#menu-container
    ul.menu.dropdown.align-spaced(data-dropdown-menu='')
        li
            a(href='#')
                i.fi-clipboard
                | Subir Pendiente
        li
            a(href='/dashboard/insertar/noticia')
                i.fi-book
                | Subir Noticia
        li
            a(href='/dashboard/insertar/usuario')
                i.fi-info
                | Dar de Alta
        li
            a(href='/auth/logout')
                i.fi-torso
                | Salir