extends ../templates/default

block content
    #section-soporte
        h1 Infraestructura
        .row
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-trophy
                    .info
                        h4.text-center Propósito
                        p
                            | Establecer las actividades de atención y respuesta a las solicitudes de servicios informáticos de las escualas y dar ágil servicio a los usuarios de Educación Básica y a los Centros de Maestros del Interior del Estado
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-wrench
                    .info
                        h4.text-center Servicios Otorgados
                        p
                            ul 
                                li Diagnósticos para baja re aprovechable, definitiva grupal y/o individual
                                li Mantenimiento Correctivo con y/o sin refacción
                                li Servicios en sitio:
                                    li Instalación, orientación y mantenimiento de sistema EDUSAT
                                    li Mantenimiento a equipos UNETE
                                    li Mantenimiento a equipos de red escolar
                                li Trámite de garantías
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-check
                    .info
                        h4.text-center Requisitos para un buen servicio
                        p
                            |  El servicio de reparación, mantenimiento y/o baja es otorgado 
                            ins unicamente
                            |  a escuelas cuyos equipos lleguen acompañados de:
                            ol
                                li Número de folio generado por el call center
                                li Copia de sientrec, factura, o salida de almacén que avala su pertenencia a la Secretaría de Educación
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-pencil
                    .info
                        h4.text-center Nota:
                        p
                            ul
                                li Es importante mantener actualizado su sientrec en relación a los equipos que se encuentran bajo resguardo en la escuela
                            ul 
                                li Una vez traídos los equipos para reparación o baja, pasar a recogerlos con no más de 3 días hábiles de diferencia a partir de recibir el mensaje o llamada de servicio terminado por parte del personal de Soporte Técnico