extends ../templates/default

block content
    #section-soporte
        h1 Control Patrimonial
        .row
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-trophy
                    .info
                        h4.text-center Propósito
                        p
                            | Con el objetivo que todas las escuelas regularicen sus inventarios, control patrimonial les da la oportunidad a los maestros de pedir información y concluir con estos procesos
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-wrench
                    .info
                        h4.text-center Servicios Otorgados
                        p
                            ul 
                                li Altas
                                li Bajas
                                li Corecciones 
                                li Traspasos
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-check
                    .info
                        h4.text-center Ejemplos
                        p
                            |  Aquí se muestra la forma correcta de enviar sus archivos
                            ol
                                li Número de folio generado por el call center
                                li Copia de sientrec, factura, o salida de almacén que avala su pertenencia a la Secretaría de Educación
            .medium-6.columns
                .box
                    .box-icon
                        span.fi-pencil
                    .info
                        h4.text-center Nota:
                        p
                            ul
                                li En caso de haber corrección en algunos de estos apartados el maestro responsable del equipo debe corregir los errores para su pronta regularización ante la Secretaría de Educación