extends ../templates/default

block content
    .row
        .column.large-4.large-offset-4
            .signup-panel
                p.welcome  Sistema de Registro Empleados
                form(action='http://127.0.0.1:3000/auth/signup', method='post')
                    .row.collapse
                        .small-2.columns
                            span.prefix
                                i.fi-torso-female
                        .small-10.columns
                            input(type='text', name='nombre', id='nombre', placeholder='username',required='')
                    .row.collapse
                        .small-2.columns
                            span.prefix
                                i.fi-mail
                        .small-10.columns
                            input(type='email', name='email', id='email', placeholder='email',required='')
                    .row.collapse
                        .small-2.columns
                            span.prefix
                                i.fi-lock
                        .small-10.columns
                            input(type='password', name='pass', id='pass', placeholder='password',required='')
                    .row.collapse
                        .small-2.columns
                            span.prefix
                                i.fi-book-bookmark
                        .small-10.columns
                            select(name='departamento')
                                option(value='Control Patrimonial') Control Patrimonial
                                option(value='Servicios Administrativos') Servicios Administrativos
                                option(value='Infraestructura') Infraestructura
                                option(value='Pagos') Pagos
                                option(value='Servicios de Mantenimiento de Equipo de Computo y Electronica') Servicios de Mantenimiento de Equipo de Cómputo y Electrónica
                    .input-group-button
                        input.button(type='submit', value='Submit')

